<div class="row col-12 p-0">
    <div class="container pr-0">
        <div class="row pt-4 px-3 mb-3">
            <h2>Inicio</h2>
            <div class="ml-auto">
                <select [(ngModel)]="dateNumber" name="date" class="rounded-pill custom-select bg-light shadow-sm border-0" (change)="dateOnChange()">
                    <option [ngValue]="0">Hoy</option>
                    <option [ngValue]="1">Últimos siete días</option>
                    <option [ngValue]="2">Últimos 30 días</option>
                    <option [ngValue]="3">Último año</option>
                </select>
            </div>
        </div>
        <div class="container px-0">
            <div class="row">
                <!-- Productos vendidos -->
                <div class="col-6">
                    <p>Productos vendidos el día de hoy</p>
                    <p *ngIf="!userMadeASell" class="text-muted">No ha vendido ningún producto el día de hoy</p>
                    <table *ngIf="userMadeASell" class="table shadow-sm table-borderless">
                        <thead class="bg-light">
                            <th scope="col">Producto</th>
                            <th scope="col">Cajas</th>
                            <th scope="col">Sobres</th>
                            <th scope="col">Unidades</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productsSold | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <td class="text-muted">{{product.product.description}}</td>
                                <td class="text-muted">{{product.product.Caja}}</td>
                                <td class="text-muted">{{product.product.Sobre}}</td>
                                <td class="text-muted">{{product.product.Unidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination *ngIf="userMadeASell" class="mr-auto" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                    </ngb-pagination>
                </div>
                <div class="col-6">
                    <!-- Ingresos -->
                    <div class="chart-wrapper rounded-container p-2 shadow-sm bg-light">
                        <canvas baseChart 
                            [datasets]="profitsDataSet" 
                            [labels]="profitsLabels" 
                            [options]="chartOptions"
                            [legend]="lineChartLegend" 
                            [chartType]="lineChartType" 
                            [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                    <!-- Ventas -->
                    <div class="pt-4">
                        <div class="chart-wrapper rounded-container p-2 shadow-sm bg-light">
                            <canvas baseChart 
                                [datasets]="sellsDataSet" 
                                [labels]="sellsLabels"
                                [options]="chartOptions"
                                [colors]="sellsChartColors" 
                                [legend]="lineChartLegend" 
                                [chartType]="lineChartType" 
                                [plugins]="lineChartPlugins">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>