<div class="row col-12 pl-0">
    <div class="container">
        <!-- Título y buscador -->
        <div class="row pl-3 pt-4 w-100 mb-2">
            <h2 class="float-left">Productos</h2>
            <div class="row ml-auto">
                <app-pdf-stock-generator class="mr-5"></app-pdf-stock-generator>
                <form class="row" [formGroup]="searchForm" (ngSubmit)="searchProduct()">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <input formControlName="id" type="text" class="rounded-pill shadow-sm form-control border-0 bg-light" placeholder="Buscar...">
                            <button class="btn btn-primary rounded-circle ml-2">
                                <fa-icon [icon]="faSearch"></fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div *ngIf="!products && !isLoading">
            <span class="text-muted">No ha registrado ningún producto...</span>
        </div>
        <img class="loader" *ngIf="isLoading" src="assets/icons/loading.gif">
        <!-- Tabla de Productos -->
        <div *ngIf="products">
            <table class="table shadow-sm table-borderless table-hover">
                <thead class="text-muted">
                    <tr class="bg-light">
                        <th scope="col" sortable="id" (sort)="onSort($event)">Identificador</th>
                        <th scope="col" sortable="description" (sort)="onSort($event)">Descripción</th>
                        <th scope="col" sortable="categoryName" (sort)="onSort($event)">Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" (click)="productOnClick(product.id)">
                        <td class="text-muted">{{ product.id }}</td>
                        <td class="text-muted">{{ product.description }}</td>
                        <td class="text-muted">{{ product.category.name }}</td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination
            [(page)]="page"
            [maxSize]="10"
            [boundaryLinks]="true"
            [pageSize]="pageSize"
            [collectionSize]="collectionSize">
            </ngb-pagination>
        </div>
        <app-add-product-form></app-add-product-form>
    </div>
</div>