.products {
    margin-left:18%;
    width:80%;
}

.float {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
}

table th:hover {
    cursor: pointer;
}

tbody {
    border-radius: 15px;
}