@import "../../../../node_modules/lesshat/lesshat.less";

.circle {
    border-radius: 30px;
}

.btn(@color, @percent: 10%)  {
  border: 0;
  background-color: @color;
  .box-shadow(0px, 6px, 0px, darken(@color, @percent));
  &:hover { 
    border: 0;
    background-color: lighten(@color, 5%) !important;
    .box-shadow(0px, 4px, 0px, darken(@color, @percent));
  }
  &:active { 
    .box-shadow(inset, 0px, 3px, 0px, darken(@color, @percent)); 
  }
}

.btn-danger {
  .btn(#dc3545);
}