<div class="row col-12 pl-0">
    <app-sidebar class="col-2 position-fixed"></app-sidebar>

    <div class="container selling-cart pt-4">
        <h2>Carrito de Ventas</h2>
        <!-- Formulario de búsqueda -->
        <form>
            <div class="row pt-3 col-12">
                <div class="mx-auto form-group col-6">
                    <div class="input-group-prepend shadow-sm ml-auto">
                        <input type="text" class="form-control bg-light border-0" placeholder="Buscar...">
                        <button class="btn btn-light">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Formulario del producto -->
        <form>
            
        </form>
    </div>
</div>