<div class="row col-12 pl-0">
    <div class="pt-4 col-12">
        <!-- Título -->
        <h2 class="mb-4">Egresos</h2>

        <!-- Loader -->
        <img class="loader" *ngIf="isLoading" src="assets/icons/loading.gif">

        <!-- Tabla de egresos -->
        <div class="container">
            <div class="row">
                <p *ngIf="!expenses" class="text-muted">No ha registrado ningún egreso</p>
                <table *ngIf="expenses && !isLoading" class="table shadow-sm table-borderless">
                    <thead class="text-muted">
                        <tr class="bg-light">
                            <th scope="col">No. Factura</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Fecha Registro</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expense of expenses | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                            <td class="text-muted">{{ expense.billId }}</td>
                            <td class="text-muted">{{ expense.description }}</td>
                            <td class="text-muted">{{ expense.value }}</td>
                            <td class="text-muted">{{ expense.provider.name }}</td>
                            <td class="text-muted">{{ dateToString(expense.createdAt) }}</td>
                            <td>
                                <button class="btn btn-light rounded-circle" (click)="deleteOnClick(expense.id)">
                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Paginación -->
        <ngb-pagination
            *ngIf="expenses && !isLoading"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="collectionSize">
        </ngb-pagination>

        <app-add-expenses-form></app-add-expenses-form>
    </div>
</div>