<nav class="nav flex-column bg-primary" id="sidebar">
    <div class="container bg-light text-center py-4">
        <h4 class="text-muted">Menú</h4>
    </div>
    <button class="btn btn-primary text-light">
        <fa-icon [icon]="faHome" class="mr-2"></fa-icon>
        Inicio
    </button>
    <button *ngIf="!userInProducts" class="btn btn-primary text-light" (click)="productsOnClick()">
        <fa-icon [icon]="faCubes" class="mr-2"></fa-icon>
        Productos
    </button>
    <button *ngIf="userInProducts" class="btn btn-primary text-light active" (click)="productsOnClick()">
        <fa-icon [icon]="faCubes" class="mr-2"></fa-icon>
        Productos
    </button>
    <button *ngIf="!userInCategories" class="btn btn-primary text-light" (click)="categoriesOnClick()">
        <fa-icon [icon]="faProjectDiagram" class="mr-2"></fa-icon>
        Categorías
    </button>
    <button *ngIf="userInCategories" class="btn btn-primary text-light active" (click)="categoriesOnClick()">
        <fa-icon [icon]="faProjectDiagram" class="mr-2"></fa-icon>
        Categorías
    </button>
    <button class="btn btn-primary text-light">
        <fa-icon [icon]="faShoppingCart" class="mr-2"></fa-icon>
        Carrito
    </button>
</nav>