.data-container {
    border-radius: 15px;
}

.float {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
}

p {
    font-size: 18px;
}

table {
    border-radius: 15px;
}

table thead tr{
    display: block;
}

table th, table td{
    width: 10%; 
}


table  tbody{
  display: block;
  max-height: 400px;
  overflow: auto;
}