<div class="row pl-0 col-12">
    <app-sidebar class="col-2"></app-sidebar>
    <div class="col-10">
        <app-dashboard-home *ngIf="sidebarRef.userAtHome"></app-dashboard-home>
        <app-dashboard-products *ngIf="sidebarRef.userAtProducts"></app-dashboard-products>
        <app-dashboard-categories *ngIf="sidebarRef.userAtCategories"></app-dashboard-categories>
        <app-dashboard-selling-cart *ngIf="sidebarRef.userAtSellingCart"></app-dashboard-selling-cart>
        <app-dashboard-notifications *ngIf="sidebarRef.userAtNotifications"></app-dashboard-notifications>
        <app-dashboard-expenses *ngIf="sidebarRef.userAtExpenses"></app-dashboard-expenses>
        <app-dashboard-providers *ngIf="sidebarRef.userAtProviders"></app-dashboard-providers>
    </div>
</div>